In [1]:
from bs4 import BeautifulSoup as bs
from splinter import Browser

In [2]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
#browse nasa site 
url = "https://mars.nasa.gov/news/?page=0&per_page=40&order="\
            "publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"
browser.visit(url)

In [8]:
#Create bs object
html = browser.html
soup = bs(html,"html.parser")

## Nasa Mars News

In [9]:
#Scapping 
news_title = soup.find("div", class_="content_title").text
news_p = soup.find("div", class_="article_teaser_body").text
print(f"Latest News Title: {news_title}\n")
print(f"Paragraph text: {news_p}")

Latest News Title: After a Reset, Curiosity Is Operating Normally

Paragraph text: NASA's Mars rover Curiosity is in good health but takes a short break while engineers diagnose why it reset its computer.

## JPL Feature Image

In [17]:
#Visit the image site and create 
image_page = "https://jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(image_page)

In [18]:
#creat soup object 
img_html = browser.html
soup = bs(img_html, 'html.parser')
browser.click_link_by_partial_text('FULL IMAGE')

In [20]:
#getting image url
img_html = browser.html
soup_img = bs(img_html, "html.parser")
img_url = soup_img.find("img", class_="fancybox-image")
feature_img_url = "https://jpl.nasa.gov" + img_url["src"]
print(feature_img_url)

https://jpl.nasa.gov/spaceimages/images/mediumsize/PIA18182_ip.jpg

## Mars Weather

In [21]:
#browse twitter page 
weather_url = "https://twitter.com/marswxreport?lang=en"
browser.visit(weather_url)

In [44]:
#get data 
weather_html = browser.html
weather_soup = bs(weather_html, "html.parser")

mars_weather = weather_soup.find("p", class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text
print(mars_weather)

InSight sol 88 (2019-02-25) low -95.2ºC (-139.4ºF) high -17.8ºC (0.0ºF)
winds from the SW at 5.2 m/s (11.6 mph) gusting to 19.8 m/s (44.3 mph)
pressure at 7.20 hPapic.twitter.com/1msjBvhiu7

## Mars Facts

In [57]:
import pandas as pd
facts_url = "https://space-facts.com/mars/"
table = pd.read_html(facts_url)
mars_profile = table[0]
mars_profile

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [63]:
#Rename columns 
mars_profile.columns = ["Variable Type", "Value"]
mars_profile.set_index(["Variable Type"], inplace=True)
mars_profile

                                              Value
Variable Type
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [65]:
#Convert DataFrame to html
mars_html_profile = mars_profile.to_html()
mars_html_profile = mars_html_profile.replace("\n", "")
mars_html_profile

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Value</th>    </tr>    <tr>      <th>Variable Type</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

## Mars Hemispheres

In [66]:
hem_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(hem_url)

In [67]:
import time

In [69]:
hem_html = browser.html
hem_soup = bs(html, 'html.parser')
mars_image_url_list=[]

for i in range (4):
    time.sleep(5)
    img = browser.find_by_tag('h3')
    img[i].click()
    new_html = browser.html
    new_soup = bs(new_html, 'html.parser')
    
    img_url = new_soup.find("img", class_="wide-image")["src"]
    img_title = new_soup.find("h2",class_="title").text
    img_url = "https://astrogeology.usgs.gov" + img_url
    
    img_details = {"title":img_title,"img_url":img_url}
    mars_image_url_list.append(img_details)
    browser.back()

TypeError: 'NoneType' object is not subscriptable

In [ ]:
print(mars_image_url_list)